/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.flatmir-footer {
  margin-top: 6.25rem;
  background-color: $body-color;
  border-top: none;
}

.lde-logo-banner {
  background-color: #d6d6d6;
  padding: 2rem 0 1.5rem 0;
  &__link {
    &:hover {
      text-decoration: none;
    }
  }
  &__slogan {
    color: $primary;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__copyright {
    color: $body-color;
    display: block;
    text-align: center;
    font-size: 0.75rem;
  }
}

.lde-sitemap {
  padding-top: 7.25rem;
  padding-bottom: 5.25rem;
}

#powered_by {
  background-color: $body-color;
  border-top: none;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
