/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

// logo and menu container
//.lde-logo-box {}

// logo
.lde-project-logo {
  margin: 1.5rem 0 1.5rem 0;
  &__image {
    width: 80px;
    vertical-align: unset;
    margin-right: 1.5rem;
  }
  &__link {
    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }
  &__slogan {
    vertical-align: bottom;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

// header image
.lde-figure-head {
  height: 20rem;
  background-color: #e1d5cb;
  position: relative;   // for shadow top
  // full width figure
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // shadow top
  &::after {
    -webkit-box-shadow: inset 0px 20px 30px -14px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 20px 30px -14px rgba(0,0,0,1);
    box-shadow: inset 0px 20px 30px -14px rgba(0,0,0,1);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.lde-searchbar {
  .row {
    border-left: 1px solid white;
  }
  .form-control {
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
  }
}

#searchInput::placeholder {
  color: white;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
